<!-- <p>
  book-about works!
</p> -->
<div class="bgc">
  <p>В 2003 году в Объединенном королевстве Великобритании телеканал и радиостанция BBC провели глобальный опрос жителей страны
    с призывом голосовать за их любимые книги всех времен. Голосование длилось с апреля по октябрь, участие в опросе приняли
    более 1 млн. человек.</p>
  <p>В итоге был составлен известный список 200 лучших романов (The Big Read) по версии BBC, которые считаются лучшими литературнымипроизведениями
    всех времен. Сам список представляет собой микс из любимых детских книг и классических произведений, но все же в списке
    больше современной литературы.</p>

  <div class="wrapper">

    <h2 class="title">Топ-10 по версии BBC</h2>
    <ul *ngFor="let book of allBooks">
      <mat-card>
        <li (click)="onSelect(book)">№{{book.id}} Автор: {{book.author}}
          <br> Название: {{book.book}}</li>
      </mat-card>
    </ul>

  </div>

  <a href="https://ru.wikipedia.org/wiki/200_%D0%BB%D1%83%D1%87%D1%88%D0%B8%D1%85_%D0%BA%D0%BD%D0%B8%D0%B3_%D0%BF%D0%BE_%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D0%B8_%D0%91%D0%B8-%D0%B1%D0%B8-%D1%81%D0%B8">Полная версия списка</a>

</div>
