<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div class="bgcblue">

        <mat-toolbar color="primary" class="h300">
            <nav>
                <button mat-flat-button color="primary" routerLink = "/book-home" routerLinkActive = "active">Добавить книги</button>
                <button mat-flat-button color="primary" routerLink = "/book-list" routerLinkActive = "active">Редактировать</button>
                <button mat-flat-button color="primary" routerLink = "/book-about" routerLinkActive = "active">Топ 10 книг</button>
            </nav>
            <h1 class="apptitle">Bookorama</h1>
            <nav>
                <button mat-flat-button color="primary" routerLink = "/enter-form" routerLinkActive = "active">Войти</button>
                <button mat-flat-button color="primary" routerLink = "/regist-form" routerLinkActive = "active">Регистрация</button>
            </nav>




        </mat-toolbar>



        <!-- <h2 class="slogan">Save your most favorite books here!</h2> -->

        <!-- <app-enter-form></app-enter-form> -->



    </div>

</div>



<router-outlet></router-outlet>

















