.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.bgc {
  background: #f1f8e9;
  height: 100vh;
}

.mat-form-field {
  width: 500px;
}

.label {
  margin-right: 30px;
  margin-left: 40px;
}

.btn-back {
  margin-top: 30px;
}
